/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */
body {
  background:#b8ffb8;
  outline: none!important;
}
.wrapper {
	/*max-width: 720px;*/
	margin: auto;
}
header#navbar {
	background: transparent;
	border: none;
	margin: 0 auto;
}
div#header_image {
	text-align: center;
}
#header_image img {
	margin-top: -40px;
    max-width: 100%;
    width: 120px;
}
header h1 {
    display: inline-block;
    font-family: "Amatic SC";
    font-size: 6em;
    color: #333;
}
header h3 {
    font-family: "Amatic SC";
    color: #333;
    font-size:2.5em;
    text-transform: capitalize!important;
}
img {
	max-width:100%;
}
.navbar-nav>li>a {
		font-size: 1.5em;
		background:none!important;
		color:#333!important;
		padding:0;
		margin:25px;
}
.navbar-nav>li>a.active {
	text-decoration: underline;
}
.navbar-nav>li {
	float:none;
}
.nav>li {
	position: relative;
	display: inline-block;
}
.navbar-nav {
	float:none;
	text-align: center;
}
.menu.nav.navbar-nav li a {
	-webkit-transition: all .5s ease;
	transition: all .25s ease;
	font-family: "Patrick Hand";
	color: tomato#333 !important;
}
.menu.nav.navbar-nav li a:hover {
	text-decoration: none;
}
button.navbar-toggle {
	position: absolute;
	top: 20px;
	right: 0px;
}
.navbar-default .navbar-toggle {
	border:none;
	-webkit-transition:all .25s;
	transition:all .25s;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: tomato#333;
}
.front-page-box {

	text-align: center;
	margin:15px 0;
	padding: 10px;
	box-sizing: border-box; /* add this */
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Older Webkit browsers */
}
img#hr {
    margin-bottom: 25px;
    margin-left: 13%;
    width: 74%;
}
.front-page-pic {
	border: 3px solid green;
	border-radius: 20px;
	width: 100%;
	height:auto;
	max-width: 100%;
	max-height: 100%;
	box-sizing: border-box; /* add this */
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Older Webkit browsers */
}
@media screen and (max-width: 600px){
	.front .col-xs-6 {
		width: 100%;
	}
}
@media screen and (max-width: 665px){
	#header_image img {
		width: 400px;
		max-width: 80%;
		float: left;
	}
}
.field-name-field-image-comic img {
	width: 70%;
	height: auto;
	margin: auto;
	display: block;
}
.field-collection-view{
	border-bottom:none;
}
li.views-fluid-grid-item {
	background:none;
	border:none;
}
li.views-fluid-grid-item a {
	color: black;
	text-decoration: none;
	font-size: 20px;
	margin-bottom: 10px;
}
li.views-fluid-grid-item a:hover {
	text-decoration:none;
	color:black;
}
.field-name-field-image-comic img {
	border: 3px solid tomato#333;
}
.page-header {
	font-size: 3em;
	text-align: center;
	font-family:"Amatic SC";
	color: tomato#333;
	border: none;
}
.views-field-title a {
	font-family: 'Patrick Hand'!important;
	margin-bottom: 5px;
	color: #555!important;
}
.views-fluid-grid-inline img {
	height: auto;
	border: 3px solid green;
	border-radius: 3px;
}
img#apply {
	position: absolute;
	top: 0;
	right: 0;
}
.page-node-10 #apply {
	display:none;
}
.node-type-webform h1.page-header {
	display: none;
}
.field-collection-container {
    border-bottom: none;
}
.footer {
    border-top: none;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent!important;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}
ul.views-fluid-grid-items-height-250 li.views-fluid-grid-item {
    height: auto;
}
@media all and (max-width:500px) {
	.field-name-field-image-comic img {
	    width: 100%;
	}
	.col-sm-12 {
		padding-left: 0;
		padding-right: 0;
	}
	.field-collection-view {
	    border-bottom: none;
	    margin: 0 5px;
	    padding: 0;
	}
}